@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,300;0,400;0,600;1,100;1,400&display=swap');

* {

    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box
    outline: none; border: none;
    text-decoration: none;
    text-transform: : capitalize;
    transition: .2s linear;
}


$carrot-color: orange;
$black: #130f40;
$white: #FFF;
$light-color: #666;
$light-bg: #eee;
$border: .2rem solid $black;
$box-shadow: 0 .5rem 1.5rem rgba(0, 0, 0, .1);

@mixin grid($val) {

    display: grid;
    grid-template-columns: repeat(auto-fit, minmax($val, 1fr));
    gap: 1.5rem
} 

html {

    font-size: 63%;
    overflow: hidden;
    scroll-behavior: smooth;
    scroll-padding-top: 4rem;

    &::-webkit-scrollbar {

        width: 1rem;
    }

    &::-webkit-scrollbar-track {
        background: transparent;
    }

    &::-webkit-scrollbar-thumb {
        background: $carrot-color;
        border-radius: 5rem;
    
    }

}

.header {

    background: $white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2rem;
    box-shadow: 0 .5rem 1.5rem rgba(0, 0, 0, .1);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;

}



























